In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tamilnadu-rainfall/ConsolidatedRainfall.json

In [2]:
import json

In [3]:
def json_to_dataframe(file):

    f = open ( file , "r") 
    data = json.loads(f.read())               #loading the json file.
    dept = []                                  
    dist = []                                  #Creating empty lists to store values.
    station = []
    rain = []
    date = []
   
    
    for i in range(len(data)):          
        dep = data[i]['dept']
        dis = data[i]['dist']
        stat = data[i]['station']
        rai = data[i]['value']
        dat = data[i]['date']

        dept.append(dep)
        dist.append(dis)
        station.append(stat)                    # Appending values to lists
        rain.append(rai)
        date.append(dat)

    print('Done')      # for indication perpose.
    new_df = pd.DataFrame(columns=['department','district','station','rain','date']) # Creating empty DataFrame.
    new_df.department = dept
    new_df.district = dist           #intializing list values to the DataFrame.
    new_df.station = station
    new_df.rain = rain
    new_df.date = date
    
    print('Done')      # for indication perpose.
    final_df = new_df.drop_duplicates(keep='first')  # Dropping duplicate rows from the create Dataframe.
    return final_df

In [4]:
dev_data = json_to_dataframe('/kaggle/input/tamilnadu-rainfall/ConsolidatedRainfall.json')
dev_data

Done
Done

,department,district,station,rain,date
0,Revenue,The Nilgiris,Devala,5.0,1990-02-13
1,Revenue,Coimbatore,"Taluk Office, Pollachi",8.0,1990-10-17
2,Revenue,Coimbatore,"Taluk Office, Pollachi",34.0,1990-10-18
3,Revenue,Mayiladuthurai,Anaikaranchatram (Kollidam),13.0,1990-10-18
4,Revenue,Mayiladuthurai,Sirkali,12.4,1990-10-18
...,...,...,...,...,...
650612,Revenue,Coimbatore,Airport Peelamedu,0.4,2023-12-25
650613,Revenue,Theni,Thekkadi,0.4,2023-12-25
650614,Revenue,Nagapattinam,Nagapattinam,0.4,2023-12-25
650615,GCC,Chennai,Zone 14 U41 Perungudi,0.2,2023-12-25
650616,GCC,Chennai,Zone 14 U41 Perungudi,0.2,2023-12-26